In [1]:
import sqlite3

In [2]:
# criando um banco de dados e conectado nele
conexao = sqlite3.connect("tutorial.db")

In [3]:
# criando um cursos
cursor = conexao.cursor()

In [4]:
# criando uma tabela
cursor.execute("CREATE TABLE movie(title, year, score)")

In [8]:
# inserindo valores na tabela
cursor.execute("""INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
"""
)
conexao.commit()

In [10]:
# consultando valores na tabela
cursor.execute("""SELECT * FROM movie""")
cursor.fetchall()

[('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5)]

In [11]:
conexao.close()

In [12]:
# criando banco de dados e conectando a ele
conexao = sqlite3.connect('usuarios.db')

In [13]:
# criando um cursor
cursor = conexao.cursor()

In [19]:
# criando a tabela
cursor.execute("""CREATE TABLE usuarios(
               id INTEGER PRIMARY KEY,
               nome_usuario TEXT NOT NULL ,
               senha TEXT NOT NULL 
               )
               """)

In [20]:
# inserindo registros na tabela
nome_usuario = 'Carlos'
senha = 'abc1234'


cursor.execute(" INSERT INTO usuarios VALUES(?, ?, ?)", (1, nome_usuario, senha))

In [38]:
# função para cadastrar usuarios

def cadastra_usuario(nome_usuario, senha):

    nome_usuario = input('Digite o nome de usuário: ')
    senha = input('Digite a senha: ')
    
    cursor.execute(" INSERT INTO usuarios VALUES(?, ?, ?)", (i, nome_usuario, senha))
    conexao.commit()
    i+=1

In [39]:



cadastra_usuario(nome_usuario, senha)

UnboundLocalError: cannot access local variable 'i' where it is not associated with a value